*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  --app-color: #15484D;
  --font-color: #CADBC2;
  --btn-background: #208475; 
}

input, button{
  appearance: None;
  background: None;
  border: None;
  outline: None;
}